*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}

.boton{
    background-color: #45e37c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}